*
!ripple_main.py
!readme.md
!Globus3_coils
!Globus3_coils/coils_base_upd.txt
!Globus3_coils/coil_base_u_1.txt
!Globus3_coils/coil_base_u_2.txt
!Globus3_coils/coil_base_u_3.txt
!Globus3_coils/coil_base_u_4.txt
!run*
!Examples
!Examples/*
